{
    /* "compilation_database": [ "cmake_build/compile_commands.json" ], */
    "machdep": "gcc_arm_eabi",
    "absolute-valid-range": "0x38000000-0xE00F0000",
    "tis-libc": false,
    "val": true,
    "slevel": 50,
    "val-split-return": "full",
    "val-builtin": {
        "tfm_log_printf": "tis_printf"
    },
    "files": [
        "platform/ext/common/tfm_platform.c",
        "platform/ext/target/mps2/an521/spm_hal.c",
        "platform/ext/target/mps2/an521/target_cfg.c",
        "platform/ext/target/mps2/an521/cmsis_drivers/Driver_MPC.c",
        "platform/ext/target/mps2/an521/native_drivers/mpc_sie200_drv.c",
        "platform/ext/target/mps2/an521/retarget/platform_retarget_dev.c",
        /* "secure_fw/core/arch/tfm_arch_v8m_main.c", MOVED */
        "secure_fw/spm/cmsis_psa/arch/tfm_arch_v8m_main.c",
        /* "secure_fw/core/tfm_boot_data.c", MOVED */
        "secure_fw/spm/common/tfm_boot_data.c",
        /* "secure_fw/core/tfm_core.c", DOESN'T EXIST */
        /* "secure_fw/core/tfm_func_api.c", DOESN'T EXIST */
        /* "secure_fw/core/tfm_nspm_func.c", MOVED */
        "secure_fw/spm/cmsis_func/tfm_nspm_func.c",
        /* "secure_fw/core/tfm_utils.c", DOESN'T EXIST */
        /* "secure_fw/spm/spm_api.c", DOESN'T EXIST */
        /* "secure_fw/spm/spm_api_func.c", DOESN'T EXIST */
        "secure_fw/spm/cmsis_func/main.c"
        /* "secure_fw/core/tfm_secure_irq_handlers.c" DOESN'T EXIST */
    ],
    "cpp-extra-args": [
        /* Why do we need these -m options? */
        "-mcpu=cortex-m33+nodsp",
        "-msoft-float",
        "-mcmse",
        /* From Fabien */
        "-D__ARM_ARCH_8M_MAIN__", 
        /* DEFINES from compile_commands.json */
        "-DBL2",
        "-DBOOT_DATA_AVAILABLE",
        "-DDAUTH_CHIP_DEFAULT",
        "-DINCLUDE_OPTIONAL_CLAIMS",
        "-DITS_CREATE_FLASH_LAYOUT",
        "-DITS_MAX_ASSET_SIZE=512",
        "-DITS_NUM_ASSETS=10",
        "-DITS_VALIDATE_METADATA_FROM_FLASH",
        /* "-DMBEDTLS_CONFIG_FILE=\\\"bl2/ext/mcuboot/include/mcuboot-mbedtls-cfg.h\\\"", */ /* DOUBLE! */
        "-DMBEDTLS_CONFIG_FILE=\\\"lib/ext/mbedcrypto/mbedcrypto_config/tfm_mbedcrypto_config_default.h\\\"",
        "-DMCUBOOT_FIH_PROFILE_OFF",
        "-DMCUBOOT_HW_KEY",
        "-DMCUBOOT_IMAGE_NUMBER=2",
        "-DMCUBOOT_OVERWRITE_ONLY",
        "-DMCUBOOT_SIGN_RSA",
        "-DMCUBOOT_SIGN_RSA_LEN=3072",
        "-DNDEBUG",
        "-DPS_CREATE_FLASH_LAYOUT",
        "-DPS_CRYPTO_AEAD_ALG=PSA_ALG_GCM",
        "-DPS_ENCRYPTION",
        "-DPS_MAX_ASSET_SIZE=2048",
        "-DPS_NUM_ASSETS=10",
        "-DPS_ROLLBACK_PROTECTION",
        "-DPS_VALIDATE_METADATA_FROM_FLASH",
        "-DPSA_CRYPTO_SECURE",
        "-DT_COSE_COMPILE_TIME_CONFIG",
        "-DT_COSE_DISABLE_CONTENT_TYPE",
        "-DT_COSE_DISABLE_ES384",
        "-DT_COSE_DISABLE_ES512",
        "-DT_COSE_DISABLE_MAC0",
        "-DT_COSE_DISABLE_SHORT_CIRCUIT_SIGN",
        "-DT_COSE_DISABLE_SIGN_VERIFY_TESTS",
        "-DT_COSE_USE_PSA_CRYPTO",
        "-DT_COSE_USE_PSA_CRYPTO_FROM_TFM",
        "-DTFM_CRYPTO_CONC_OPER_NUM=8",
        "-DTFM_CRYPTO_ENGINE_BUF_SIZE=0x2080",
        "-DTFM_LVL=1",
        "-DTFM_PARTITION_AUDIT_LOG",
        "-DTFM_PARTITION_CRYPTO",
        "-DTFM_PARTITION_INITIAL_ATTESTATION",
        "-DTFM_PARTITION_INTERNAL_TRUSTED_STORAGE",
        "-DTFM_PARTITION_PLATFORM",
        "-DTFM_PARTITION_PROTECTED_STORAGE",
        "-DTFM_SPM_LOG_LEVEL=2",
        /* INCLUDES from compile_commands.json */
        "-I.",
        "-Ibl2/ext/mcuboot/include",
        "-Ibl2/include",
        "-Itrustinsoft/deps/cmake_build/bl2/ext/mcuboot",
        "-Itrustinsoft/deps/cmake_build/generated",
        "-Itrustinsoft/deps/cmake_build/generated/interface/include",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/partitions/audit_logging",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/partitions/crypto",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/partitions/initial_attestation",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/partitions/internal_trusted_storage",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/partitions/platform",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/partitions/protected_storage",
        "-Itrustinsoft/deps/cmake_build/generated/secure_fw/spm/cmsis_func",
        "-Itrustinsoft/deps/cmake_build/lib/ext/mbedcrypto-src/include",
        "-Itrustinsoft/deps/cmake_build/lib/ext/mbedcrypto-src/library",
        "-Itrustinsoft/deps/cmake_build/lib/ext/mcuboot-src/boot",
        "-Itrustinsoft/deps/cmake_build/lib/ext/mcuboot-src/boot/bootutil/include",
        "-Itrustinsoft/deps/cmake_build/lib/ext/tfm_test_repo-src/app",
        "-Itrustinsoft/deps/cmake_build/lib/ext/tfm_test_repo-src/CMSIS/Core/Include",
        "-Itrustinsoft/deps/cmake_build/lib/ext/tfm_test_repo-src/CMSIS/RTOS2/Include",
        "-Itrustinsoft/deps/cmake_build/lib/ext/tfm_test_repo-src/CMSIS/RTOS2/RTX/Config",
        "-Itrustinsoft/deps/cmake_build/lib/ext/tfm_test_repo-src/CMSIS/RTOS2/RTX/Include",
        "-Itrustinsoft/deps/cmake_build/lib/ext/tfm_test_repo-src/log",
        "-Iinterface/include",
        "-Iinterface/include/log",
        "-Iinterface/include/os_wrapper",
        "-Ilib/ext/qcbor/inc",
        "-Ilib/ext/qcbor/test",
        "-Ilib/ext/qcbor/util",
        "-Ilib/ext/t_cose/inc",
        "-Ilib/ext/t_cose/src",
        "-Ilib/ext/t_cose/test",
        "-Iplatform/..",
        "-Iplatform/ext",
        "-Iplatform/ext/cmsis",
        "-Iplatform/ext/common",
        "-Iplatform/ext/driver",
        "-Iplatform/ext/target/mps2/an521",
        "-Iplatform/ext/target/mps2/an521/../common",
        "-Iplatform/ext/target/mps2/an521/.",
        "-Iplatform/ext/target/mps2/an521/cmsis_core",
        "-Iplatform/ext/target/mps2/an521/cmsis_drivers",
        "-Iplatform/ext/target/mps2/an521/native_drivers",
        "-Iplatform/ext/target/mps2/an521/native_drivers/timer_cmsdk",
        "-Iplatform/ext/target/mps2/an521/partition",
        "-Iplatform/ext/target/mps2/an521/retarget",
        "-Iplatform/ext/target/mps2/common",
        "-Iplatform/include",
        "-Isecure_fw/include",
        "-Isecure_fw/partitions",
        "-Isecure_fw/partitions/audit_logging",
        "-Isecure_fw/partitions/crypto",
        "-Isecure_fw/partitions/initial_attestation",
        "-Isecure_fw/partitions/internal_trusted_storage",
        "-Isecure_fw/partitions/lib/sprt/include",
        "-Isecure_fw/partitions/platform",
        "-Isecure_fw/partitions/protected_storage",
        "-Isecure_fw/spm",
        "-Isecure_fw/spm/arch/include",
        "-Isecure_fw/spm/cmsis_func",
        "-Isecure_fw/spm/cmsis_func/include",
        "-Isecure_fw/spm/cmsis_psa/arch",
        "-Isecure_fw/spm/include",
        /* Somehow missing. */
        "-Isecure_fw/spm/cmsis_psa",
        /* DEPS: gcc-arm-none-eabi */
        "-Itrustinsoft/deps/gcc-arm-none-eabi/lib/gcc/arm-none-eabi/10.2.1/include",
        "-Itrustinsoft/deps/gcc-arm-none-eabi/arm-none-eabi/include",
        "-Itrustinsoft/deps/gcc-arm-none-eabi/lib/gcc/arm-none-eabi/10.2.1/install-tools/include"
    ]
}
/*
FABIEN
{
    "compilation_database":
    [
        "cmake_build/compile_commands.json"
    ],
    "machdep": "gcc_arm_eabi",
    "cpp-extra-args": " -I../DS-5/sw/ARMCompiler6.10.1/include -I../CMSIS_5/CMSIS/RTOS2/RTX/Library/IAR/IDE -I../CMSIS_5/CMSIS/RTOS2/RTX/Config -I../CMSIS_5/CMSIS/RTOS2/RTX/Include -I../CMSIS_5/CMSIS/RTOS2/Include -D__ARM_ARCH_8M_MAIN__ -DNDEBUG",
    "absolute-valid-range": "0x38000000-0xE00F0000",
    "tis-libc": false,
    "val": true,
    "slevel": 50,
    "val-split-return": "full",
    "val-builtin": {
        "tfm_log_printf": "tis_printf"
    },
    "files":
    [
        "platform/ext/common/tfm_platform.c",
        "platform/ext/target/mps2/an521/spm_hal.c",
        "platform/ext/target/mps2/an521/target_cfg.c",
        "platform/ext/target/mps2/an521/cmsis_drivers/Driver_MPC.c",
        "platform/ext/target/mps2/an521/native_drivers/mpc_sie200_drv.c",
        "platform/ext/target/mps2/an521/retarget/platform_retarget_dev.c",
        "secure_fw/core/arch/tfm_arch_v8m_main.c",
        "secure_fw/core/tfm_boot_data.c",
        "secure_fw/core/tfm_core.c",
        "secure_fw/core/tfm_func_api.c",
        "secure_fw/core/tfm_nspm_func.c",
        "secure_fw/core/tfm_utils.c",
        "secure_fw/spm/spm_api.c",
        "secure_fw/spm/spm_api_func.c",
        "secure_fw/core/tfm_secure_irq_handlers.c"
    ]
}
*/